@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="card-body">
    <h5 class="card-title text-center">Reset Password</h5>
    <form asp-action="ResetPassword" asp-controller="Account" method="post" autocomplete="off" class="form-signin">

        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.UserId" />
        <input type="hidden" asp-for="@Model.Email" />
        <input type="hidden" asp-for="@Model.Token" />
        <div class="form-label-group">
            <input asp-for="@Model.Password" type="password" id="inputPassword" class="form-control" placeholder="New Password" required>
            <label for="inputPassword">New Password</label>
        </div>
        <div class="form-label-group">
            <input asp-for="@Model.ConfirmPassword" type="password" id="cinputPassword" class="form-control" placeholder="Confirm Password" required>
            <label for="cinputPassword">Confirm Password</label>
        </div>


        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Change Password</button>
        <hr class="my-4">
        <a asp-action="Verification" asp-controller="Account">Back to Security Question</a>
        <a asp-action="Login" asp-controller="Account">Back to Login</a>
    </form>
</div>
           
       

